*{
    margin: 0;
    padding: 0;

}

.sidebar{
    width: 25vw;
    height: 100%;
    margin-left: 0;
    padding-left: 0;
    background-color: rgb(68, 65, 65);
    color: white;
    display: flex;
    flex-direction: column;
    transition: width 0.3s;
}

.sidebar.open{
    width: 5vw;
}

.collapse-btn {
  margin: 10px;
  padding: 5px;
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  align-self: flex-end;
}
.collapse-btn:focus,
.collapse-btn:active {
  outline: none;
  border: none;
}